<ul class="loading">
  <li class="side">&#9856;</li>
  <li class="side">&#9857;</li>
  <li class="side">&#9858;</li>
  <li class="side">&#9859;</li>
  <li class="side">&#9860;</li>
  <li class="side">&#9861;</li>
</ul>
